<div class="wrapper">
  <aside
    class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3
       bg-gradient-dark">
    <app-categories
      (selectCategory)="selectCategory($event)"
      (addCategory)="addCategory($event)"
      (deleteCategory)="deleteCategory($event)"
      (updateCategory)="updateCategory($event)"
      (searchCategory)="searchCategory($event)"

      [selectedCategory]="selectedCategory"
      [categories]="categories"
      [uncompletedCountForCategoryAll]="uncompletedCountForCategoryAll"
      [categorySearchValues]="categorySearchValues"

    ></app-categories>
  </aside>
  <div class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         data-scroll="true">
      <!-- <app-header
         [categoryName]="selectedCategory ? selectedCategory.title : 'All'"
         (toggleStat)="toggleStat($event)"
         [showStat]="showStat"></app-header>-->
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">

        <app-stat

          [dash]="dash"
          [showStat]="showStat"
        >

        </app-stat>

        <div class="row">

          <app-tasks [showSearch]="showSearch"
                     [totalTasksFounded]="totalTasksFounded"
                     [tasks]="tasks"
                     [priorities]="priorities"
                     [categories]="categories"
                     [selectedCategory]="selectedCategory"
                     [taskSearchValues]="taskSearchValues"


                     (searchAction)="searchTasks($event)"
                     (selectCategory)="selectCategory($event)"
                     (addTask)="addTask($event)"
                     (deleteTask)="deleteTask($event)"
                     (updateTask)="updateTask($event)"
                     (paging)="paging($event)"
                     (toggleSearch)="toggleSearch($event)"
          >

          </app-tasks>
          <div class="col-12">

          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
