<div class="sidenav-header">
  <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
     aria-hidden="true"></i>
  <a class="navbar-brand m-0" target="_blank">
    <img src="../assets/img/drake.jpg" class="add-icon-img">

    <span class="nav-title text-white">Categories</span>

    <span class="add-icon-area">

        <button mat-icon-button class="add-icon" (click)="openAddDialog()">
          <mat-icon>add</mat-icon>
        </button>
    </span>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="navbar-nav active">

    <div class="search-category-area">

      <mat-form-field class="example-full-width">

        <input

          [(ngModel)]="filterTitle"
          (ngModelChange)="this.checkFilterChanged()"
          (keydown.escape)="clearAndSearch()"

          matInput
          maxlength="256"
          placeholder="Search categories"
        />

        <button
          *ngIf="filterTitle && filterTitle.trim().length > 0"
          mat-button matSuffix mat-icon-button
          aria-label="Clear"

          class="search-category-button"

          (click)="clearAndSearch()">

          <mat-icon>clear</mat-icon>
        </button>

        <button

          (click)="search()"
          *ngIf="filterTitle && filterTitle.trim().length > 0"
          mat-button matSuffix mat-icon-button

          [ngClass]="{'blink-button': filterChanged}"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <li class="nav-item category" [class.active]="selectedCategory === null"
        (click)="showCategory(null)">

      <a class="nav-link pointer">

        <span class="all-category-title">All</span>

        <span class="uncompleted-count">{{uncompletedCountForCategoryAll || 0}}</span>

      </a>

    </li>

    <div class="line"></div>

    <div *ngIf="!categories || categories.length === 0"><p class="not-found">Nothing found</p></div>

    <li class="nav-item pointer"
        *ngFor="let category of categories, let index = index"


        [class.active]="(selectedCategory && category) && category.id === selectedCategory.id"

        (click)="showCategory(category)"
        (mouseleave)="showEditIcon(false, index)"
        (mouseenter)="showEditIcon(true, index)"

    >

      <a class="nav-link">
        <span class="category-title">{{category.title}}</span>

        <span class="edit-category-icon-area">

          <mat-icon class="edit-category-icon"
                    *ngIf="(showEditIcon && index == indexMouseMove)"
                    (click)="$event.stopPropagation(); openEditDialog(category)">
            edit
          </mat-icon>
          <span class="category-title">{{category.uncompletedCount || 0}}</span>
        </span>

      </a>
    </li>
  </ul>
</div>

